$dark-theme: (
  primary: #53c5d5,
  background: #121212,
  overlay: rgba(255, 255, 255, 0.08),
  text-10: #f5f5f5,
  text-20: #c1c1c1,
  border: #7a7a7a,
  error: #f1414c,
  success: #188038,
  warning: #f2aa01,
);

// TODO: We actually have to declare colors in abstract directory
// but as the task is simple and small, colors are declared just here
