$light-theme: (
  primary: #53c5d5,
  background: #ffffff,
  overlay: rgba(0, 0, 0, 0.1),
  text-10: #1e1e1e,
  text-20: #3a3a3a,
  border: #7a7a7a,
  error: #f1414c,
  success: #188038,
  warning: #f2aa01,
);

// TODO: We actually have to declare colors in abstract directory
// but as the task is simple and small, colors are declared just here
